# Base de datos (coincide con docker-compose.yml)
DATABASE_URL=postgres://erp:erp@localhost:5432/erp

# Redis (se usará para las colas de BullMQ al procesar archivos)
REDIS_URL=redis://localhost:6379

# API
API_PORT=4000
WEB_ORIGIN=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000/api
